body{
	background-size: 100%;
	background-color: #d693b3;
}

header{
	background-color: #f7cee1;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 40px;
	width: 100%;
}

nav{
	line-height: 30px;
	background-color: #e5d6b8;
	color: black;
	height: 600px;
	width: 20%;
	float: left;
	padding: 5px;
	font-size: 22px;
	text-decoration: none;
	margin: 20px;
}

nav a:hover{
	// configurar enlaces
	text-decoration: none;
	cursor: pointer;
}

section{
	width: 750px;
	float: left;
	padding: 10px;
	color: black;
	text-align: justify;
	font-size: 30px;
	padding: 0px 150px 0px 150px;
}

footer{
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
	width: 100%;
}

img{
	display: block;
	margin: auto;
	clear: right;
}
a{
	text-decoration:initial;
	color: white;

}
main .fondo{
	text-align: center;
	width: 40%;

}
main .fondo img{
	max-width: 40%;
	height: auto;
	cursor: pointer;
	border-radius: 10px;
	transition: transform 0.2s ease;
}
main .fondo img:hover{
	transform: scale(1.1);
	
}